/* In this file you can add your custom styles. */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Permanent+Marker&family=Reenie+Beanie&family=Varela+Round&display=swap');

body {
  font-family: 'Varela Round', sans-serif;
  background: url(/assets/images/asanoha-400px.png);
}

.navbar-custom {
  background-color: #ef476f;
}
.navbar-custom a {
  color: white;
}
.btn-primary {
  background-color: #34a0a4;
  border-color: #52b69a;
}

.btn-primary:hover {
  background-color: #52b69a;
}

.btn-primary:after {
  background-color: orange;
}

input[type='file'] {
  display: none;
}

.fileUpload {
  border: 1px solid rgb(150, 149, 149);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.margin10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.leftRightMargin1em {
  margin-left: 1em;
  margin-right: 1em;
}

.stickyNote {
  background-color: #fdfdc9;
  padding: 20px;
  margin: 20px;
  border-style: none;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
}

.permanentMarker {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

.reenieFont {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 700;
  font-size: 30px;
}

.editTaskButton {
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  min-width: 110px;
  height: 40px;
  margin-top: 10px;
  background-color: #e38b92;
  border: none;
  border-radius: 4px;
}

.editTaskButton:hover {
  color: white;
}

.corkBoard {
  background-image: url(/assets/images/cork-board.jpg);
  min-height: 500px;
}

.readerFriendly {
  line-height: 150%;
}

button.btn.btn-primary.margin10px.Alldone {
  margin: 30px;
  font-size: 25px;
  display: flex;
  align-self: flex-end;
}

/* Hannas styling */
.searchContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem !important;
}

.searchContainer button.btn.btn-primary.margin10px {
  margin-top: unset;
  margin-left: 15px;
}

.formContainer {
  display: flex;
}

.completedContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.searchFormContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 2rem;
}

.searchFormContainer button {
  margin-left: 1rem;
  height: 2rem;
  width: 5rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput form {
  display: flex;
  align-items: center;
}

#search.form-control {
  margin: 0.5rem;
}

@media screen and (min-width: 991px) {
  .searchInput {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }

  .searchInput form {
    width: 52.2vw;
  }
}
